h1 {
	font-size: 14px;
	font-family: helvetica, sans-serif ;
	color: orangered ;
	text-align: center
}

h2 {
	font-size: ;
	font-family: ;
	color: ;
}

h3 {
	font-size: 12px;
	font-family: ;
	color: ;
}

#local {
	font-family: helvetica, sans-serif; 
	font-size: 12px;
	color: #666666;
	font-weight: bold;
}

#stories {
	font-family: helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: black;
}

figcaption {
	font-size: 10px;
	font-family: ;
	color: ;
	margin-right: 10px;
}


.other {
	font-family: helvetica, sans-serif;
	font-size: 11px;
	color: ;
	font-weight: bold;
}

.item2 {
	display: block;
}

#byline {
	font-family: helvetica, sans-serif;
	font-size: 12px;
	color: ;
}

.story {
	margin-left: 10px;
	margin-right: 10px;
	padding-right: 280px;
}

.article {
	font-family: ;
	font-size: 12px;
	color: ;
}

.bold {
	font-weight: bold;
	font-family: georgia, serif;
	font-size: 18px;
	color: ;
}