h1 { 
	font-size: ;
	font-family: ;
	color: black ;
	text-align: center;

}

h2 { font-size: ;
	font-family: helvetica, sans-serif ;
	color: orangered ;
	text-align: center;
}

h3 {  font-size: ;
	font-family: helvetica, sans-serif ;
	color: gray;
	text-align: left;

}

h4 {

}

figcaption {

}

.other {

}

.byline {

}

.article {

}

.bold {

}